@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Source+Sans+Pro:wght@700&display=swap');

/*     font-family: 'Manrope', sans-serif;

    font-family: 'Source Sans Pro', sans-serif; */

:root {
    --color-btn: #296ffb;
    --color-text-white: #ffffff;
    --color-text-gray: #727272;
    --color-offwhite: #aaaaaa;
}

/* Utils */

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}


/* All */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
}

h4 {
    font-size: 2.5rem;
}

img {
    min-width: 100%;
}

ul li a {
    text-decoration: none;
}

.hamburger {
    display: none;
}

/* Header */

header {
    height: 40vh;
    background: url('./assets/hero-image.png') no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--color-text-white);
    font-family: 'Manrope', sans-serif;
    position: relative;
}

.header__content {
    width: 85vw;
    margin: 0 auto;
}

header h1 {
    font-family: 'Source SansePro', sans-serif;
    font-size: 2rem;
}

/* Nav */

nav {
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 2rem;
}

nav ul {
    list-style-type: none;
}

nav li a{
    color: var(--color-text-white);
    text-decoration: none;
    margin-left: 1rem;
}

.login {
    /* display: inline-block; */
    border-radius: 10px;
    background-color: var(--color-btn);
    color: var(--color-text-white);
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
}

/* Hero */

.hero {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.leading-text {
    font-size: 3rem;
}

.sub-text {
    font-weight: 400;
}

.cta {
    margin-top: 25px;
    display: inline-block;
    border-radius: 10px;
    background-color: var(--color-btn);
    color: var(--color-text-white);
    text-decoration: none;
    padding: 10px;
    width: 180px;
    text-align: center;
}

/* Offers */

main {
    width: 85%;
    margin: 0 auto;
}

.offers__header {
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 3rem;

}

.offers__all {
    color: var(--color-btn);
    text-decoration: none;
}

/* Jobs */
.jobs {
    margin-top: 3rem;
    justify-content: space-between;
}

.gray-div {
    border-left: 2px solid var(--color-offwhite);
}

/* Card styling */

.job {
    width: 400px;
    color: var(--color-text-gray);
}

.job__header {
    justify-content: space-between;
    align-items: flex-end;
}


.job__title {
    font-size: 1.2rem;
    color: var(--color-btn);
    margin-bottom: 5px;
}

.job__info {
    margin-top: 10px;
    align-items: flex-end;
    justify-content: space-between;
}

.job__btn {
    color: var(--color-text-white);
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    background: var(--color-btn);
    border-radius: 10px;
    padding: 3px 10px;
    box-shadow: 3px 3px 20px #296ffb41;
}



/* Companies */

.companies__header {
    margin-top: 3rem;
}

.company-list {
    margin-top: 2rem;
    list-style-type: none;
    justify-content: space-between;
}

.company {
    display: inline-block;
    border: 1px solid var(--color-offwhite);
    padding: 20px;
    border-radius: 100px;
}

.company-link {
    align-items: center;
    justify-content: center;
}

.company-list li a {
    font-weight: 700;
    font-size: 1.3rem;
    color: black;
}

.company img {
    height: 30px;
}


.newsletter {
    height: 300px;
    margin-top: 3rem;
    padding-left: 2rem;
    color: var(--color-text-white);
    background-color: black;
    background-image: url('./assets/Newsletter-image.png');
    background-size: cover;
    background-position: cover;
    justify-content: center;
    border-radius: 10px;
}

.newsletter__header {
    font-size: 3rem;
    margin-bottom: 5px;
}

.newsletter__description {
    display: inline-block;
    margin-bottom: 10px;
    width: 500px;
}

.newsletter__input {
    align-items: center;
}

.newsletter__input input {
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px;
}

.subscribe-btn {
    display: inline-block;
    margin-left: 20px;
    border-radius: 10px;
    background-color: var(--color-btn);
    color: var(--color-text-white);
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
    
}

/* Footer */
footer {
    width: 50%;
    margin: 0 auto;
}

footer ul {
    margin: 3rem 0 1rem 0;
    list-style-type: none;
    justify-content: space-around;
}

footer ul li a {
    color: var(--color-text-gray)
}

@media screen and (max-width: 1480px) {
    .hero {
        width: 85%;
        padding: 20px;
        background: rgba(0, 0, 0, .5);
    }
    .jobs {
        flex-direction: column;
        align-items: space-around;
        height: 500px;
    }

    .job {
        width: 85vw;
    }

    .job__btn {
        display: none;
    }

    .gray-div {
        border-left: 0px;
        border-bottom: 1px solid var(--color-offwhite);
    }

    .company-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}


/* Mobile */

@media screen and (max-width: 768px) {
    body,html {
        overflow-x: hidden;
    }

    h4 {
        font-size: 2rem;
    }

    nav .flex {
        position: absolute;
        z-index: 1;
        background: var(--color-text-white);
        padding: 20px;
        flex-direction: column;
        top: 20%;
        right: -500px;
        height: 300px;
        justify-content: space-between;
        border-radius: 10px 0 0 10px;
        transition: all .2s;
    }

    nav .active {
        right: 0px;
    }

    nav ul li a {
        color: black;
    }

    .hamburger {
        display: inline-block;
    }

    .line {
        width: 25px;
        height: 4px;
        background-color: var(--color-text-white);
        border-radius: 20px;
        margin-bottom: 5px;
    }

    header {
        background: black;
        height: 70vh;
    }

    .hero {
        position: absolute;
        top: 55%;
        transform: translateY(-50%);
    }

    .offers__header {
        flex-direction: column;
        align-items: flex-start;
    }

    .jobs {
        flex-direction: column;
        align-items: space-around;
        height: 700px;
    }

    .job {
         margin-bottom: 2rem;
        width: 85vw;
    }

    .job__btn {
        display: none;
    }

    .gray-div {
        border-left: 0px;
        border-bottom: 1px solid var(--color-offwhite);
    }

    .company-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .newsletter {
        height: 400px;
    }

    .newsletter h4 {
        font-size: 2rem;
    }

    .newsletter p {
        width: 80%;
    }

    .newsletter__input {
        flex-direction: column;
        align-items: flex-start;
    }

    .subscribe-btn {
        margin: 15px 0 0 0;
    }

    footer .flex {
        display: grid;
        grid-template-columns: repeat(3, 100px);

        gap: 10px;
        justify-content: center;
        align-items: center;
    }
}